<p>product-details work</p>

<div class="container">
<div class="spinner-grow text-success"></div>
</div>
<div>
    <nav class="navbar navbar-right bg-success">
        <div class="container-fluid">
          <div class="navbar-header">
            <h4 *ngIf="selectedProduct.user!=null">logged in User : {{selectedProduct.user.userName}}</h4>
          </div>
        </div>
    </nav>
</div>

<div *ngIf="selectedProduct.category!=null">
    <h2>Category : {{selectedProduct.category.name}} </h2>
    
    <h2>Category Description : {{selectedProduct.category.description}}</h2>
</div>

<div>
<div>
<h2>Product : {{selectedProduct.name}}</h2>
<h2> Product Description : {{selectedProduct.description}}</h2>
<span>Quantity:</span><input type="text" [(ngModel)]="productQty" >
<button class="btn btn-success" (click)="proceedToBuy()" >Proceed To Buy</button>
</div>





</div>